@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One|Vast+Shadow");

.checkbox{
  height: 16px !important;
  width: 16px !important;
  display: inline-block;
  border: solid black 1px !important;
}

.checkbox-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px rgba(175,175,175,0.6);
  background-color: rgba(0,0,0,0.3);
  border-radius: 8px;
  margin-bottom: 10px;
}

.checkbox-group > input {
  margin: auto 10px;

}

.iconDisp{
  height: 18px;
  width: 18px;
  margin-left: 10px;
  display: flex;
  
}

.labelWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1
  
}

.resLabel{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: 5px;
  /* font-weight: bold; */
  /* font-family: 'Racing Sans One', cursive; */
  /* font-family: 'Vast Shadow', cursive; */
  
  
  /* text-shadow: 
  	-1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555; */
  
}

