.ResoList{
  position: fixed;
  top: 20%;
  left: 0px;
  /* height: 40px;
  width: 20px; */
  z-index: 100;
}

.faIcon{
  border-radius: 5px;
  padding: 3px;
  border: 1px solid rgba(102, 102, 102, 0.397);
  cursor: pointer;
}

.faIconSide{
  display: block;
  display: flex;
  flex-grow: 1;
  /* height: 8px;
  width: 8px; */
}

.resource-wrapper{
  /* margin-left: 20px; */
  padding: 10px;
  margin-right: 19px;
  border: 3px solid rgb(41, 41, 41);
  background-color: rgba(200,200,200,1);
  cursor: context-menu !important;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
  
}

.toggleResList{
  width: 22px;
  position: absolute;
  top: 20%;
  border: 2px solid rgb(41, 41, 41);;
  border-left: none;
  height: 200px;
  background-color: rgba(200,200,200,1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.collapsedResList{
  margin-top: 55px;
  width: 30px;
  
}

.expandedResList{
  border-left: 1px solid rgba(102, 102, 102, 0.1); 
  right: 0px;
}

.resource-header > h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}


