.MapBaseDef{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  cursor: zoom-in; 
  position: absolute;
  top: 0px;
  left: 0px;
}

.MapBaseZoom{
  height: 1875px;
  width: 1880px;
  background-repeat: no-repeat;
  cursor: zoom-in; 
  position: absolute;
  top: 0px;
  left: 0px;
}

.MapProper{
  background-image: url('../../assets/images/basemap.jpg');
  z-index: 0;
}